<launch>
  <arg name="veh"/>
  <arg name="run_button_sim" value="false"/>

  <group ns="$(arg veh)">

    <node name="overtaking_maneuver_node" pkg="overtaking_maneuver" type="overtaking_maneuver_node" respawn="false" output="screen">
      <param name="use_dynamic_reconfig" value="false"/>
      <param name="robot_name" value="$(arg veh)"/>
    </node>

    <node name="button_simulator_node" pkg="overtaking_maneuver" type="button_simulator" respawn="false" output="screen" if="$(arg run_button_sim)"/>

    <node name="overtaking_state_machine_node" pkg="overtaking_maneuver" type="overtaking_state_machine" respawn="false" output="screen">
      <param name="input_vel" value="5"/>
      <param name="input_width" value="5"/>
      <param name="input_max_acc" value="3"/>
      <param name="offset" value="1.7"/>
      <remap from="overtaking_path" to="route_plan"/>
    </node>

  </group>

</launch>
